.sliderwrapper{
	position:relative;
	overflow:hidden;
	width:619px;
	height:150px;
	overflow: hidden;
	padding: 10px;
}
.main_featured_title{
	margin-bottom: 5px;
	font-size: 15px;
}
.sliderwrapper .contentdiv{
	visibility:hidden;
	position:absolute;
	left:0;top:0;
	width:619px;
	height:100%;filter:progid:DXImageTransform.Microsoft.alpha(opacity=100);
	-moz-opacity:1;opacity:1;
	padding: 10px;
}
.pagination{
	width:619px;
	text-align:left;
	padding:0;
	padding: 10px;
}
.pagination a.toc{
	color:#fff;
	text-decoration:none;
	background:white;
	display:block
}
#paginate-slider{
	background-color:red;
	border-color:red;
	line-height:12px;
	height:43px
}
#paginate-slider a.toc img{
	border:1px solid #d2d2d2;
	padding:2px;
	margin-bottom:0px;
	display:block;
	float:left;
	width:63px;
	height:41px;
	margin-right:14px;
	margin-left:0px
}
#paginate-slider a.toc img:hover, #paginate-slider a.selected img{
	border:1px solid red
}
#paginate-slider a.prev{
	color:#fff;
	text-decoration:none;
	margin-top:10px;
	margin-right:1px
}
#paginate-slider a.prev img, #paginate-slider a.next img{
	border:0
}
.meta{
	background:url(transpBlack.png) 0 0 repeat;width:400px;height:27px;margin-top: -30px;left:0px;position:relative;color:#fff
	}
.meta_ie{background:#666;width:400px;height:27px;margin-top: -30px;left:0px;position:relative;color:#fff}/*\*/* html #paginate-slider a.toc
img{*width:64px;*height:40px;*margin-right:6px;*margin-left:6px}/**/